[workspace]
resolver = "3"
members = [
    "aoc_leaderboard",
    "aoc_leaderbot_aws_lambda_impl",
    "aoc_leaderbot_aws_lib",
    "aoc_leaderbot_lib",
    "aoc_leaderbot_slack_lib",
]

[workspace.package]
version = "0.3.0"
authors = [ "Charles Lechasseur <shiftingbeard@outlook.com>" ]
edition = "2024"

license = "MIT"

homepage = "https://github.com/clechasseur/aoc_leaderbot#readme"
repository = "https://github.com/clechasseur/aoc_leaderbot"

[workspace.dependencies]
anyhow = "1.0.100"
aoc_leaderboard = { version = "0.3.0", path = "aoc_leaderboard" }
aoc_leaderbot_aws_lib = { version = "0.3.0", path = "aoc_leaderbot_aws_lib" }
aoc_leaderbot_lib = { version = "0.3.0", path = "aoc_leaderbot_lib", default-features = false }
aoc_leaderbot_slack_lib = { version = "0.3.0", path = "aoc_leaderbot_slack_lib" }
aws-config = "1.8.10"
aws-sdk-dynamodb = "1.98.0"
chrono = "0.4.42"
clap = "4.5.51"
derive_builder = "0.20.2"
dotenvy = "0.15.7"
gratte = "1.2.0"
itertools = "0.14.0"
lambda_runtime = "0.14.4"
reqwest = { version = "0.12.24", default-features = false, features = ["rustls-tls"] }
rstest = "0.26.1"
serde = "1.0.228"
serde_dynamo = "4.3.0"
serde_json = "1.0.145"
serde_with = "3.16.0"
thiserror = "2.0.17"
tokio = "1.48.0"
tracing = "0.1.41"
tracing-subscriber = "0.3.20"
uuid = "1.18.1"
veil = "0.2.0"
wiremock = "0.6.5"

# Dev dependencies:
assert_cmd = "2.1.1"
assert_matches = "1.5.0"
clap-verbosity-flag = "3.0.4"
mockall = "0.13.1"
serial_test = "3.2.0"
test-log = { version = "0.2.18", default-features = false }
testcontainers-modules = "0.13.0"
tracing-test = "0.2.5"
